html {
	.primary_btn {
		border: none;
		outline: none;
		background: var(--primary);
		color: var(--black);
		height: 4rem;
		border-radius: 0.5rem;
		font-size: 1.5rem;
		font-weight: 700;
		cursor: pointer;
		padding: 1rem 2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		text-transform: initial;
		min-width: 10rem;

		&:hover {
			background: var(--primary);
		}
	}
}
