.checkbox_container {
	align-items: baseline !important;

	.checkbox {
		transform: scale(1.6);
		padding: 0;
		padding-top: 0.5rem;
	}
	span {
		font-size: 1.4rem;
		font-weight: 400;
		margin-left: 1rem;
	}
}
