.container {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;

	p {
		margin: 0.5rem 0;
		font-weight: 500;
		font-size: 1.4rem;
	}

	.radio_input {
		span {
			font-size: 1.4rem;
			font-weight: 400;
			text-transform: capitalize;
		}
	}
}
