@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

body {
	margin: 0;
	font-family: "Poppins", sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

:root {
	--primary-color: #17202c;
	--secoundary-color: #8abef5;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #17202c;
}

::-webkit-scrollbar-thumb {
	background: #8abef5;
	border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
	background: #8abef5;
}
